.pool {
    margin: var(--size-m) 0;
    background-color: var(--color-white);
    display: flex;
    padding: var(--size-l);
    border-radius: var(--size-l);
    align-items: center;
    color: var(--color-black);

    .poolHead {
        .poolTitle {
            display: flex;

            .poolAmount {
                margin-right: var(--size-s);
            }
        }
    }

    .poolTotal {
        margin-left: auto;

        .poolImperLoss {
            color: red;
        }
    }

    .boutonDelete {
        margin-left: var(--size-l);
    }
}