:root {
  --color-green1: #C6D0BC;
  --color-green2: #B5C3A5;
  --color-green3: #8BA372;
  --color-black: #2C2C2C;
  --color-white: #ffffff;
  --color-grey1: #F8F7F1;
  --color-grey2: #F1EEE3;

  --border-radius-x: 40px;
  --border-radius-l: 16px;
  --border-radius-m: 8px;
  --border-radius-s: 4px;
}

.application {
  background-color: var(--color-grey1);
}