@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-green1: #C6D0BC;
  --color-green2: #B5C3A5;
  --color-green3: #8BA372;
  --color-black: #2C2C2C;
  --color-white: #ffffff;
  --color-grey1: #F8F7F1;
  --color-grey2: #F1EEE3;

  --color-purple1: #A3A7FC;
  --color-purple2: #7980EF;

  --size-x: 40px;
  --size-l: 16px;
  --size-m: 8px;
  --size-s: 4px;
}

.application {
  background-color: var(--color-grey1);
}

.padding-x{
  padding: var(--size-x);
}

.padding-l{
  padding: var(--size-l);
}

input::placeholder {
  opacity: 0.4;
}